body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u885 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:43px;
  background:inherit;
  background-color:rgba(9, 109, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:-2px;
  top:591px;
  width:202px;
  height:43px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:361px;
  top:77px;
  width:118px;
  height:34px;
}
#u889 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:368px;
  top:86px;
  width:74px;
  height:18px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1635px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:242px;
  top:133px;
  width:1635px;
  height:207px;
}
#u893 {
  position:absolute;
  left:2px;
  top:96px;
  width:1631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:36px;
}
#u894 {
  position:absolute;
  left:265px;
  top:140px;
  width:295px;
  height:360px;
  font-size:16px;
  line-height:36px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
